<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <a href="<%= root_path(year_offset: @year_offset - 1) %>" title="Previous fiscal year" class="text-muted"><i class="material-icons">navigate_before</i></a>
        <a href="<%= root_path(year_offset: @year_offset + 1) %>" title="Next fiscal year" class="text-muted"><i class="material-icons">navigate_next</i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">attach_money</i>
        </div>
        <div class="card-content">
          <p class="category">Received Income</p>
          <h3 class="title"><%= number_to_currency(@accountant.gross_income, precision: 2, unit: '$') %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> <%= @accountant.fiscal_year.first.strftime('%B %Y') %>-<%= @accountant.fiscal_year.end.strftime('%B %Y') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="green">
          <i class="material-icons">account_balance</i>
        </div>
        <div class="card-content">
          <p class="category">Revenue</p>
          <h3 class="title"><%= number_to_currency(@accountant.revenue, precision: 2, unit: '$') %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">monetization_on</i> Income: <%= number_to_currency(@accountant.income, precision: 2, unit: '$') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">store</i>
        </div>
        <div class="card-content">
          <p class="category">Levies to Pay</p>
          <h3 class="title"><%= number_to_currency(@accountant.taxes + @accountant.acc + @accountant.gst - @accountant.taxes_paid, precision: 2, unit: '$') %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">healing</i> ACC: <%= number_to_currency(@accountant.acc, precision: 0, unit: '$') %> <i class="material-icons">shopping_basket</i> GST: <%= number_to_currency(@accountant.gst, precision: 0, unit: '$') %> <i class="material-icons">monetization_on</i> Taxes Paid: <%= number_to_currency(@accountant.taxes_paid, precision: 0, unit: '$') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">receipt</i>
        </div>
        <div class="card-content">
          <p class="category">Expenses</p>
          <h3 class="title"><%= number_to_currency(@accountant.claimable_expenses, precision: 2, unit: '$') %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">store</i> Claimable: <%= number_to_currency(@accountant.claimable_expenses, precision: 2, unit: '$') %> <i class="material-icons">shopping_basket</i> GST Paid: <%= number_to_currency(@accountant.claimable_gst, precision: 2, unit: '$') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @unpaid_invoices.present? %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">Unpaid Invoices</h4>
            <p class="category">All unpaid invoices in this fiscal year</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Currency</th>
                  <th class="text-right">Total (NZD)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @unpaid_invoices.each do |invoice| %>
                  <tr>
                    <td><%= invoice.date.strftime('%b %-d') %></td>
                    <td><%= invoice.contact.name %></td>
                    <td><%= invoice.contact.client.company %></td>
                    <td><%= invoice.currency.code %></td>
                    <td class="text-right"><%= number_to_currency(invoice.total_in_nzd, precision: 0, unit: '$') %></td>
                    <td class="text-right"><a href="<%= pay_invoice_path(invoice) %>" rel="nofollow" data-method="post" title="Pay"><i class="material-icons">monetization_on</i></a> <a href="<%= void_invoice_path(invoice) %>" rel="nofollow" data-method="post" title="Void"><i class="material-icons">money_off</i></a> <a href="<%= invoice_path(invoice, format: :pdf) %>" title="PDF"><i class="material-icons">print</i></a></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <div class="row">
            <div class="col-lg-6">
              <h4 class="title">Invoices</h4>
              <p class="category">All paid invoices in this fiscal year</p>
            </div>
            <div class="col-lg-6 text-right">
              <a href="<%= new_invoice_path %>" title="Add invoice" class="text-muted"><i class="material-icons">note_add</i></a>
            </div>
          </div>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-success">
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Company</th>
                <th>Currency</th>
                <th class="text-right">Total (NZD)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @paid_invoices.each do |invoice| %>
                <tr>
                  <td><%= invoice.date.strftime('%b %-d') %></td>
                  <td><%= invoice.contact.name %></td>
                  <td><%= invoice.contact.client.company %></td>
                  <td><%= invoice.currency.code %></td>
                  <td class="text-right"><%= number_to_currency(invoice.total_in_nzd, precision: 0, unit: '$') %></td>
                  <td class="text-right"><a href="<%= void_invoice_path(invoice) %>" rel="nofollow" data-method="post" title="Void"><i class="material-icons">money_off</i></a> <a href="<%= invoice_path(invoice, format: :pdf) %>" title="PDF"><i class="material-icons">print</i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <div class="row">
            <div class="col-lg-6">
              <h4 class="title">Expenses</h4>
              <p class="category">All expenses in this fiscal year</p>
            </div>
            <div class="col-lg-6 text-right">
              <a href="<%= new_expense_path %>" title="Add expense" class="text-muted"><i class="material-icons">note_add</i></a>
            </div>
          </div>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-info">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th class="text-right">GST</th>
                <th class="text-right">Total (NZD)</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @expenses.each do |expense| %>
                <tr>
                  <td><%= expense.date.strftime('%b %-d') %></td>
                  <td><%= expense.description %></td>
                  <td class="text-right"><%= number_to_currency(expense.gst, precision: 0, unit: '$') if expense.gst > 0 %></td>
                  <td class="text-right"><%= number_to_currency(expense.value_in_nzd, precision: 0, unit: '$') %></td>
                  <td class="text-right">
                    <% if expense.recurring_expense_id.present? %>
                      <a href="<%= edit_recurring_expense_path(expense.recurring_expense_id) %>" title="Recurring Expense"><i class="material-icons">schedule</i></a>
                    <% end %>
                    <a href="<%= edit_expense_path(expense) %>" title="Edit"><i class="material-icons">mode_edit</i></a>
                    <a href="<%= expense_path(expense) %>" data-method="delete" data-confirm="Are you sure?" title="Delete"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <% if @voided_invoices.present? %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title">Voided Invoices</h4>
            <p class="category">All voided invoices in this fiscal year</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Currency</th>
                  <th class="text-right">Total (NZD)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @voided_invoices.each do |invoice| %>
                  <tr>
                    <td><%= invoice.date.strftime('%b %-d') %></td>
                    <td><%= invoice.contact.name %></td>
                    <td><%= invoice.contact.client.company %></td>
                    <td><%= invoice.currency.code %></td>
                    <td class="text-right"><%= number_to_currency(invoice.total_in_nzd, precision: 0, unit: '$') %></td>
                    <td class="text-right"><a href="<%= pay_invoice_path(invoice) %>" rel="nofollow" data-method="post" title="Pay"><i class="material-icons">monetization_on</i></a> <a href="<%= invoice_path(invoice, format: :pdf) %>" title="PDF"><i class="material-icons">print</i></a></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
