<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <style type="text/css" media="all">
body { font-family: sans-serif; color: rgba(0,0,0, 0.87); line-height: 130%; }
address { font-style: normal; margin: 1em 0; }
header { margin-bottom: 3em; }
.invoice { padding: 2em; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }
table { width: 100%; margin: 2em 0; border-collapse: collapse; }
table thead th { border: none; }
table td, table th { padding: 0.5em; border-top: 1px solid #ddd; }
.row:after {content: ""; display: table; clear: both; }
.pull-right { float: right; width: 49%; }
.pull-left { float: left; width: 50%; }
  </style>
</head>
<body>
  <div class="invoice">
    <header class="text-center">
      <h1><%= Rails.application.secrets.name %></h1>
      <p><%= Rails.application.secrets.address %></p>
    </header>

    <div class="row">
      <div class="pull-left">
        <h2>To:</h2>
        <address>
          <%= @invoice.contact.name %><br />
          <%= @invoice.contact.position %><br />
          <%= @invoice.contact.client.company %><br />
          <%= @invoice.contact.client.address_line_1 %><br />
          <%= @invoice.contact.client.address_line_2 %><br />
          <%= @invoice.contact.client.address_line_3 %><br />
          <%= @invoice.contact.client.address_line_4 %><br />
        </address>
      </div>
      <div class="text-right pull-right">
        <h2 class="text-uppercase">Tax Invoice</h2>
        <address>
          <strong>GST Number:</strong> <%= Rails.application.secrets.gst_number %><br />
          <strong>Date:</strong> <%= @invoice.date.strftime('%B %-d %Y') %><br />
          <strong>Invoice: </strong> #<%= @invoice.number %><br />
        </address>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Unit Price</th>
          <th class="text-right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.description %></td>
            <td class="text-right"><%= line_item.quantity %></td>
            <td class="text-right"><%= number_to_currency(line_item.unit_price, precision: 2, unit: @invoice.currency.symbol) %></td>
            <td class="text-right"><%= number_to_currency(line_item.total, precision: 2, unit: @invoice.currency.symbol) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <% if @invoice.discount_in_percents > 0 %>
          <tr>
            <th colspan="3" class="text-right">Discount:</th>
            <td class="text-right"><%= number_to_currency(@invoice.discount, precision: 2, unit: @invoice.currency.symbol) %></td>
          </tr>
        <% end %>
        <% unless @invoice.zero_rated_gst? %>
          <tr>
            <th colspan="3" class="text-right">GST:</th>
            <td class="text-right"><%= number_to_currency(@invoice.gst, precision: 2, unit: @invoice.currency.symbol) %></td>
          </tr>
        <% end %>
        <tr>
          <th colspan="3" class="text-right">Total:</th>
          <td class="text-right"><strong><%= number_to_currency(@invoice.total, precision: 2, unit: @invoice.currency.symbol) %></strong></td>
        </tr>
      </tfoot>
    </table>


    <div class="row">
      <div class="pull-left">
        <h3>Payment Options:</h3>
        <address>
          Bank payment in New Zealand<br />
          Account name: <%= Rails.application.secrets.account_name %><br />
          Account number: <%= Rails.application.secrets.account_number %>
        </address>
        <address>
          Payment by debit card<br />
          PayPal: <%= Rails.application.secrets.paypal %>
        </address>
      </div>
      <div class="text-right pull-right">
        <h3>Details</h3>
        <% if @invoice.zero_rated_gst? %>
          <p>Subject provided is a zero-rated supply</p>
        <% end %>
        <p><%= @invoice.currency.symbol %> is a <%= @invoice.currency.name %> (<%= @invoice.currency.code %>)</p>
      </div>
    </div>
  </div>
</body>
</html>
