<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <div class="row">
            <div class="col-lg-6">
              <h4 class="title">Recurring Expenses</h4>
              <p class="category">The templates for recurring expenses</p>
            </div>
            <div class="col-lg-6 text-right">
              <a href="<%= new_recurring_expense_path %>" title="Add recurring expense" class="text-muted"><i class="material-icons">note_add</i></a>
            </div>
          </div>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-info">
              <tr>
                <th>Description</th>
                <th>Schedule</th>
                <th class="text-right">Value</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @recurring_expenses.each do |recurring_expense| %>
                <tr>
                  <td><%= recurring_expense.description %></td>
                  <td><%= recurring_expense.schedule.to_s %></td>
                  <td class="text-right"><%= number_to_currency(recurring_expense.value, precision: 0, unit: recurring_expense.currency.symbol) %></td>
                  <td class="text-right">
                    <a href="<%= edit_recurring_expense_path(recurring_expense) %>" title="Edit"><i class="material-icons">mode_edit</i></a>
                    <a href="<%= recurring_expense_path(recurring_expense) %>" data-method="delete" data-confirm="Are you sure?" title="Delete"><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">GST</h4>
          <p class="category">GST summary per period</p>
        </div>
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Period End</th>
                <th class="text-right">Total Income</th>
                <th class="text-right">Zero Rated Income</th>
                <th class="text-right">Expenses with GST</th>
              </tr>
            </thead>
            <tbody>
              <% @gst_periods.each do |period| %>
                <tr>
                  <td><%= period.to.strftime('%b %d %Y') %></td>
                  <td class="text-right"><%= number_to_currency(period.total_income, precision: 2, unit: '$') %></td>
                  <td class="text-right"><%= number_to_currency(period.total_zero_rated_income, precision: 2, unit: '$') %></td>
                  <td class="text-right"><%= number_to_currency(period.expenses_with_gst, precision: 2, unit: '$') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
