<!DOCTYPE html>
<html>
<head>
  <title>Invoicing</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <nav class="navbar navbar-transparent">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Invoicing', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">note_add</i> Add Invoice
            </a>
          </li>
          <li>
            <a href="<%= new_expense_path %>">
              <i class="material-icons">add_shopping_cart</i> Add Expense
            </a>
          </li>
          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">dashboard</i> Dashboard
            </a>
          </li>
          <li>
            <a href="<%= clients_path %>">
              <i class="material-icons">people</i> Contacts
            </a
          </li>
          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">attach_money</i> Currencies
            </a
          </li>
          <li>
            <a href="<%= root_path %>">
              <i class="material-icons">assignment</i> Timesheet
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <div class="container-fluid">
        <div class="alert-icon">
          <i class="material-icons">check</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <div class="container-fluid">
        <div class="alert-icon">
          <i class="material-icons">error_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
